img {
		border-radius: 20px;
}

.card-new {
		margin: 20px;
}

h1 {
	color: white;
}

.h5 {
	font-family: fantasy;
	font-weight: bolder;
	font-size: 20px;
}

a,span {
	transition: all 1s;
}
a:hover {
		transform: scale(1.5);
}

span:hover {
		transform: scale(1.5);

}
.btn-primary {
	transition: all .5s;
}

.btn-primary:hover {
background-image: url('kahala1.jpg');
transform: scale(1.4);
}